* {
  margin: 0;
  padding: 0;
}

.navbar {
  height: 50px;
  width: 100%;
  background-color: #161528;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.navbar h1 {
  color: #ebebff;
}

.rocketicon {
  color: #7f7eff;
  font-size: 2rem;
  padding-right: 15px;
}

.cardcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.card {
  max-width: 1000px;
  min-width: 800px;
  display: flex;
  background-color: #161528;
  border-radius: 10px;
  margin: 25px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 350px;
  object-fit: cover;
  border-radius: 10px;
  max-width: 100%;
}

.card p {
  padding-top: 15px;
}

.card h2 {
  font-size: 2rem;
}

.locationdiv {
  display: flex;
  align-items: center;
}

.infodiv {
  padding: 27px;
}

.locationicon {
  padding-right: 4px;
  font-size: 1.3rem;
  color: #7f7eff;
}

.footer {
  text-align: center;
  font-size: 3rem;
}

.socialicon {
  padding: 3px;
}

.footer a {
  color: #ebebff;
}

@media (max-width: 800px) {
  .card {
    flex-direction: column;
    height: auto;
    max-width: 100%;
    min-width: 250px;
  }
  .card img {
    min-width: 50px;
    width: auto;
  }
}
